body {
  margin: 0;
  font-family: 'Titillium Web', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
}
